In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
from bokeh.io import show
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.plotting import figure
from bokeh.transform import factor_cmap

In [3]:
url = r"C:\weatherAUS.xlsx"

In [4]:
weather = pd.read_excel(url)

In [5]:
#Indique la cantidad inicial de datos disponibles en el set.

In [6]:
weather.count()

Date             145460
Location         145460
MinTemp          143975
MaxTemp          144199
Rainfall         142199
Evaporation       82670
Sunshine          75625
WindGustDir      135134
WindGustSpeed    135197
WindDir9am       134894
WindDir3pm       141232
WindSpeed9am     143693
WindSpeed3pm     142398
Humidity9am      142806
Humidity3pm      140953
Pressure9am      130395
Pressure3pm      130432
Cloud9am          89572
Cloud3pm          86102
Temp9am          143693
Temp3pm          141851
RainToday        142199
RainTomorrow     142193
dtype: int64

In [7]:
len(weather)

145460

In [8]:
#Indique de qué manera tratará los valores NA.

In [9]:

weather['MinTemp'] = weather['MinTemp'].replace(np.nan, 0)
weather['MaxTemp'] = weather['MaxTemp'].replace(np.nan, 0)
weather['Rainfall'] = weather['Rainfall'].replace(np.nan, 0)
weather['Evaporation'] = weather['Evaporation'].replace(np.nan, 0)
weather['Sunshine'] = weather['Sunshine'].replace(np.nan, 'Sin registro')
weather['WindGustDir'] = weather['WindGustDir'].replace(np.nan, 'Sin registro')
weather['WindGustSpeed'] = weather['WindGustSpeed'].replace(np.nan, 0)
weather['WindDir9am'] = weather['WindDir9am'].replace(np.nan, 'Sin registro')
weather['WindDir3pm'] = weather['WindDir3pm'].replace(np.nan, 'Sin registro')
weather['WindSpeed9am'] = weather['WindSpeed9am'].replace(np.nan, 0)
weather['Humidity9am'] = weather['Humidity9am'].replace(np.nan, 0)
weather['Humidity3pm'] = weather['Humidity3pm'].replace(np.nan, 0)
weather['Pressure9am'] = weather['Pressure9am'].replace(np.nan, 0)
weather['Pressure3pm'] = weather['Pressure3pm'].replace(np.nan, 0)
weather['Cloud9am'] = weather['Cloud9am'].replace(np.nan, 0)
weather['Cloud3pm'] = weather['Cloud3pm'].replace(np.nan, 0)
weather['Temp9am'] = weather['Temp9am'].replace(np.nan, 0)
weather['Temp3pm'] = weather['Temp3pm'].replace(np.nan, 0)
weather['RainToday'] = weather['RainToday'].replace(np.nan, 'Sin registro')
weather['RainTomorrow'] = weather['RainTomorrow'].replace(np.nan, 'Sin registro')

In [10]:
weather.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145455,2017-06-21,Uluru,2.8,23.4,0.0,0.0,Sin registro,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,0.0,0.0,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,0.0,Sin registro,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,0.0,0.0,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,0.0,Sin registro,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,0.0,0.0,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,0.0,Sin registro,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,0.0,0.0,0.0,Sin registro,Sin registro,0.0,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,Sin registro

In [11]:
#Qué tipo de datos tiene cada columna disponible en el set de datos.

In [12]:
weather.dtypes

Date             datetime64[ns]
Location                 object
MinTemp                 float64
MaxTemp                 float64
Rainfall                float64
Evaporation             float64
Sunshine                 object
WindGustDir              object
WindGustSpeed           float64
WindDir9am               object
WindDir3pm               object
WindSpeed9am            float64
WindSpeed3pm            float64
Humidity9am             float64
Humidity3pm             float64
Pressure9am             float64
Pressure3pm             float64
Cloud9am                float64
Cloud3pm                float64
Temp9am                 float64
Temp3pm                 float64
RainToday                object
RainTomorrow             object
dtype: object

In [13]:
#Indicar al menos 3 agrupaciones que podría generar considerando la información disponible.

In [14]:
#agrupacion 1

In [15]:
locationRain = weather[weather['RainToday'] == 'Yes'].groupby(['Location']).size().reset_index(name='Count')

locations = locationRain.Location.head(5)
counts = locationRain.Count.head(5)

source = ColumnDataSource(data=dict(locations=locations, counts=counts))

p = figure(x_range=locations, height=350, toolbar_location=None, title="Lluvia total por Localidad")
p.vbar(x='locations', top='counts', width=0.9, source=source, legend_field="locations",
      line_color='white', fill_color=factor_cmap('locations', palette=Spectral6, factors=locations))

p.xgrid.grid_line_color = None
p.y_range.start = 0
p.y_range.end = counts.max()
p.legend.orientation = "horizontal"
p.legend.location = "bottom_center"

show(p)

In [16]:
#agrupacion 2

In [17]:
locationOnlyRain = weather[(weather['RainToday'] == 'Yes') & (weather['MinTemp'].astype(int) < 0)].groupby(['Location', 'MinTemp', 'RainToday']).size().head(5)

In [18]:
pd.DataFrame(locationOnlyRain)

                            0
Location MinTemp RainToday
Albury   -2.4    Yes        1
         -1.1    Yes        1
         -1.0    Yes        1
Ballarat -3.5    Yes        1
         -3.0    Yes        1

In [19]:
#agrupacion 3

In [66]:
locationRainMaxTemp = weather[(weather['Humidity9am'] > 70) & (weather['MaxTemp'] > 17) & (weather['RainToday'] == 'Yes')].groupby(['Location', 'Humidity9am', 'MaxTemp', 'RainToday']).size()

In [67]:
type(locationRainMaxTemp)

pandas.core.series.Series

In [68]:
pd.DataFrame(locationRainMaxTemp)

                                        0
Location Humidity9am MaxTemp RainToday
Adelaide 71.0        17.1    Yes        1
                     17.8    Yes        1
                     17.9    Yes        1
                     20.1    Yes        1
                     20.2    Yes        1
...                                    ..
Woomera  98.0        27.9    Yes        1
         99.0        20.5    Yes        1
                     20.6    Yes        1
                     23.3    Yes        1
                     23.4    Yes        1

[13982 rows x 1 columns]