In [19]:
import pandas as pd
import os
import numpy as np

In [20]:
from bokeh.io import show
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.plotting import figure
from bokeh.transform import factor_cmap

In [21]:
url = r"C:\weatherAUS.xlsx"

In [ ]:
weather = pd.read_excel(url)

In [ ]:
#Indique la cantidad inicial de datos disponibles en el set.

In [ ]:
weather.count()

In [ ]:
len(weather)

In [ ]:
#Indique de qué manera tratará los valores NA.

In [ ]:

weather['MinTemp'] = weather['MinTemp'].replace(np.nan, 0)
weather['MaxTemp'] = weather['MaxTemp'].replace(np.nan, 0)
weather['Rainfall'] = weather['Rainfall'].replace(np.nan, 0)
weather['Evaporation'] = weather['Evaporation'].replace(np.nan, 0)
weather['Sunshine'] = weather['Sunshine'].replace(np.nan, 0)
weather['WindGustDir'] = weather['WindGustDir'].replace(np.nan, 'Sin registro')
weather['WindGustSpeed'] = weather['WindGustSpeed'].replace(np.nan, 0)
weather['WindDir9am'] = weather['WindDir9am'].replace(np.nan, 'Sin registro')
weather['WindDir3pm'] = weather['WindDir3pm'].replace(np.nan, 'Sin registro')
weather['WindSpeed9am'] = weather['WindSpeed9am'].replace(np.nan, 0)
weather['Humidity9am'] = weather['Humidity9am'].replace(np.nan, 0)
weather['Humidity3pm'] = weather['Humidity3pm'].replace(np.nan, 0)
weather['Pressure9am'] = weather['Pressure9am'].replace(np.nan, 0)
weather['Pressure3pm'] = weather['Pressure3pm'].replace(np.nan, 0)
weather['Cloud9am'] = weather['Cloud9am'].replace(np.nan, 0)
weather['Cloud3pm'] = weather['Cloud3pm'].replace(np.nan, 0)
weather['Temp9am'] = weather['Temp9am'].replace(np.nan, 0)
weather['Temp3pm'] = weather['Temp3pm'].replace(np.nan, 0)
weather['RainToday'] = weather['RainToday'].replace(np.nan, 'Sin registro')
weather['RainTomorrow'] = weather['RainTomorrow'].replace(np.nan, 'Sin registro')

In [ ]:
weather.tail()

In [ ]:
#Qué tipo de datos tiene cada columna disponible en el set de datos.

In [ ]:
weather.dtypes

In [ ]:
#Indicar al menos 3 agrupaciones que podría generar considerando la información disponible.

In [ ]:
#agrupacion 1

In [ ]:
locationRain = weather[weather['RainToday'] == 'Yes'].groupby(['Location']).size().reset_index(name='Count')

locations = locationRain.Location.head(5)
counts = locationRain.Count.head(5)

source = ColumnDataSource(data=dict(locations=locations, counts=counts))

p = figure(x_range=locations, height=350, toolbar_location=None, title="Lluvia total por Localidad")
p.vbar(x='locations', top='counts', width=0.9, source=source, legend_field="locations",
      line_color='white', fill_color=factor_cmap('locations', palette=Spectral6, factors=locations))

p.xgrid.grid_line_color = None
p.y_range.start = 0
p.y_range.end = counts.max()
p.legend.orientation = "horizontal"
p.legend.location = "bottom_center"

show(p)

In [16]:
#agrupacion 2

In [17]:
locationOnlyRain = weather[(weather['RainToday'] == 'Yes') & (weather['MinTemp'].astype(int) < 0)].groupby(['Location', 'MinTemp', 'RainToday']).size().head(5)

In [18]:
pd.DataFrame(locationOnlyRain)

                            0
Location MinTemp RainToday
Albury   -2.4    Yes        1
         -1.1    Yes        1
         -1.0    Yes        1
Ballarat -3.5    Yes        1
         -3.0    Yes        1